<!DOCTYPE html>
<html>
    <head>
        <title>Chat <%= title %></title>
        <%- include partials/head %>
    </head>
    <body>
        <div class="container-fluid" id="pageContainer">
            <div class="row page-head">
                <%- include partials/menu %>
            </div>
            <div class="row">
                <div id="chatroom" class="container-fluid msgcontainer">
                    <!-- all messages -->
                </div>
                <div id="infocard" class="container-fluid">
                    <h5 class="infocard-header"><b id="chatter_amount"></b> chatters online:</h5>
                    <div id="chatters">
                        <!-- all chatters -->
                    </div>
                </div>
            </div>
            <div class="row" id="buttons">
                <div class="col-sm-12 form-inline">
                    <div class="container-fluid">
                        <div class="row" id="control">
                            <div class="input-group mb-3 col-sm-11">
                                <div class="input-group-prepend">
                                    <button id="settings" class="btn input-group-text"><i class="fas fa-cog"></i></button>
                                </div>
                                <input type="text" id="message" class="form-control fullwidth" placeholder="text" />
                            </div>
                            <button id="send_message" class="btn btn-outline-primary col-sm-1 fullwidth" type="button">Send</button>
                        </div>
                        <div class="row">
                            <i id="typing" class="text-muted col-sm-12"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settingsModal" title="Settings">
            <div class="form-group">
                <label for="theme">Theme:</label>
                <select class="form-control" id="theme">
                    <option value="light" selected="selected">light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
        </div>
        <%- include partials/scripts %>
        <script src="/js/chat.js"></script>
        <script>
            const socket = io.connect($(location).attr("origin"));
            socket.chatId = '<%- chatId %>';
        </script>
    </body>
</html>