<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include partials/head %>
    </head>
    <body>
        <div class="container-fluid" id="pageContainer">
            <div class="row page-head">
                <%- include partials/menu %>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody id="chats"></tbody>
                </table>
            </div>
            <button class="btn btn-outline-secondary" style="display: none;" onclick="$('#createChat').dialog('open');" id="create">Create your own chat</button>
            <div id="createChat" title="create a chat">
                <div class="form-group">
                    <label for="nameChat">Name chat</label>
                    <input type="text" id="nameChat" class="form-control" placeholder="name chat" />
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="visible" />
                    <label class="custom-control-label" for="visible">Visible to everyone</label>
                </div>
                <div class="custom-control custom-checkbox" style="display: none;" id="namecheckbox">
                    <input type="checkbox" class="custom-control-input" id="nameaschat" />
                    <label class="custom-control-label" for="nameaschat">Path is /chats/<i>chat_name</i></label>
                </div>
                <hr>
                <button class="btn btn-outline-success" onclick="newChat();socket.emit('getChats');">Make chat</button>
            </div>
        </div>
        <%- include partials/scripts %>
        <script>
            const socket = io.connect($(location).attr("origin"));

            const cts = JSON.parse('<%- cts %>');
            cts.forEach(chat => {
                $('#chats').append(`
                <tr>
                    <td>${chat.name}</td>
                    <td><a href="${window.location.href}/${chat.path}">${window.location.href}/${chat.path}</a></td>
                </tr>
                `);
            });

            const perms = JSON.parse('<%- perms %>');
            (perms.includes('createChats')) ? $('#create').show() : $('#create').hide();
            (perms.includes('createChatByName')) ? $('#namecheckbox').show() : $('#namecheckbox').hide();

            $('#createChat').dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                draggable: false,
                show: {
                    effect: "fade",
                    duration: 1000
                },
                hide: {
                    effect: "fade",
                    duration: 1000
                }
            });

            socket.on('createChatError', msg => alert(msg));

            function newChat() {
                socket.emit('newChat', { name: $('#nameChat').val(), visible: $('#visible').is(':checked'), nameAsPath: $('#nameaschat').is(':checked') });
                $('#createChat').dialog('close');
            }
        </script>
    </body>
</html>