<!DOCTYPE html>
<html>
    <head>
        <title>Invalid user ID <%= invId %></title>
        <%- include partials/head %>
    </head>
    <body>
        <%- include partials/menu %>
        <div style="width:40%;margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px">
            <div style="width:100%;margin:0;padding:30% 0;">
                <div id="card" style="border:1px solid #ccc;border-radius:5px;padding:10px;max-height:40vh;">
                    <h2 style="text-align:center;word-break:break-all;"><i><%= invId %></i><br>is not a valid user ID</h2>
                    <p>Try <a href="https://chatbx.herokuapp.com/chats">https://chatbx.herokuapp.com/users</a> for a list of users</p>
                </div>
            </div>
        </div>
        <%- include partials/scrollToTop %>
        <%- include partials/scripts %>
        <script>
            const socket = io.connect($(location).attr("origin"));

            let SBcard = new SimpleBar($('#card')[0]);
        </script>
    </body>
</html>