<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include partials/head %>
    </head>
    <body>
        <div class="container-fluid" id="pageContainer">
            <div class="row">
                <%- include partials/menu %>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Rank</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody>
                <% users.forEach(user => { %>
                    <tr onclick="window.location.pathname = '/users/<%- user.id %>';" class="row-link">
                        <td><%= user.username %></td>
                        <td><%= user.rank %></td>
                        <td><%= user.id %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <%- include partials/scrollToTop %>
        <%- include partials/scripts %>
        <script>
            const socket = io.connect($(location).attr("origin"));
        </script>
    </body>
</html>