<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include partials/head %>
    </head>
    <body>
        <div class="container-fluid" id="pageContainer">
            <div class="row">
                <%- include partials/menu %>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Rank</th>
                        <th scope="col">ID</th>
                    </tr>
                </thead>
                <tbody>
                <% users.forEach(e => { %>
                    <tr>
                        <td><%= e.username %></td>
                        <td><%= e.rank %></td>
                        <td><%= e.id %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <%- include partials/scripts %>
        <script>
            const socket = io.connect($(location).attr("origin"));
        </script>
    </body>
</html>